name: "Run the scrum bot"
on:
  schedule:
  # Cron is minute | hour (UTC) | day of month | month | day of week
  - cron: "40 22 * * 1-5"

jobs:
  create-issues:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run upkeep.py
      run: |
          pip install --requirement requirements.txt
          pytest
          python upkeep.py --workdays-ahead=1 --token=${{ secrets.SRUMLORD_TOKEN }}
