name: "Run the scrum bot"
on:
  schedule:
  # Cron is minute | hour (UTC) | day of month | month | day of week
  - cron: "40 22 * * *"

jobs:
  create-issues:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout
    - name: Run upkeep.py
      run: |
          pip install --requirement requirements.txt
          pytest
          python upkeep.py --workdays-ahead=1 --token=${{ secrets.SCRUMLORD_TOKEN }}

    - uses: stefanzweifel/git-auto-commit-action@v4
      with: 
        commit_author: scrum-lord <team+scrum-lord@greenelab.com>
